body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
ol._idFootAndEndNoteOLAttrs {
	list-style-type:none;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.object {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
table.Tab {
	border-collapse:collapse;
	margin-bottom:3px;
	margin-top:11px;
}
td.Tab, th.Tab {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p._1_LIMINAIRES_Partie {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._1_LIMINAIRES_Partie-Tdm {
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.154;
	margin-bottom:11px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._1_LIMINAIRES_Partie-Tdm-sans-enum {
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.154;
	margin-bottom:11px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._1_LIMINAIRES_PartieNum {
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._1_LIMINAIRES_PartieTitre {
	color:#ffffff;
	font-family:"DINPro-Medium", sans-serif;
	font-size:28px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.071;
	margin-bottom:0;
	margin-left:0;
	margin-right:11px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._2_CORPS_Ancrage {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_ChapNum {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"DINPro-Medium", sans-serif;
	font-size:22px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.136;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._2_CORPS_ChapTitre {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p._2_CORPS_Enum-a--b--c- {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_EnumChiffre {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_EnumTiret2 {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_ExempleTitre {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"DINPro-Bold", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.571;
	margin-bottom:0;
	margin-left:4px;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p._2_CORPS_Ndbp {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_RemarqueTitre {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"DINPro-Bold", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.571;
	margin-bottom:0;
	margin-left:4px;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._2_CORPS_SOM-TitreN1--1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Black", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.278;
	margin-bottom:0;
	margin-left:48px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-48px;
	text-transform:uppercase;
	widows:2;
}
p._2_CORPS_SOM-TitreN2--1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.278;
	margin-bottom:0;
	margin-left:48px;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-48px;
	text-transform:uppercase;
	widows:2;
}
p._2_CORPS_SOM-TitreN3--1-1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.278;
	margin-bottom:0;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-48px;
	text-transform:none;
	widows:2;
}
p._2_CORPS_SOM-TitreN4--1-1-1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.278;
	margin-bottom:0;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-48px;
	text-transform:none;
	widows:2;
}
p._2_CORPS_Source {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_TabTet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_TabTxt {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.118;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_TabTxt-centre {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.118;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_Titre-Italic {
	color:#000000;
	font-family:"DINPro-RegularItalic", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_TitreN1--1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Black", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.071;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:23px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._2_CORPS_TitreN2--1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._2_CORPS_TitreN3--1-1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p._2_CORPS_TitreN4--1-1-1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._2_CORPS_TxtCourant {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_TxtCourant-centre {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._2_CORPS_TxtCourantRetrait {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Annexe-SousTitreN1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-RegularItalic", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Annexe-Tdm {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:17px;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Annexe-TitreN1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.Annexe-TxtCourant {
	color:#000000;
	font-family:"Times New Roman MT Std", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:6px;
	text-transform:none;
	widows:2;
}
p.Annexe-TxtCourant-FAD {
	color:#000000;
	font-family:"Times New Roman MT Std", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:6px;
	text-transform:none;
	widows:2;
}
p.Annexe-TxtCourant-SR {
	color:#000000;
	font-family:"Times New Roman MT Std", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Annexe-TxtCourant-a--b--c- {
	color:#000000;
	font-family:"Times New Roman MT Std", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:6px;
	text-transform:none;
	widows:2;
}
p.Annexe-TxtCourant-centre {
	color:#000000;
	font-family:"Times New Roman MT Std", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.ArticleNum {
	-epub-hyphens:none;
	color:#000000;
	font-family:"HelveticaNeueLT Std", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.ArticleTitre {
	-epub-hyphens:none;
	-epub-line-break:normal;
	color:#000000;
	font-family:"Times New Roman MT Std", serif;
	font-size:8px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.ArticleTitre-regular-CAP {
	-epub-hyphens:none;
	-epub-line-break:normal;
	color:#000000;
	font-family:"Times New Roman MT Std", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.Source-Annexe {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-RegularItalic", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.133;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.SousTitreArticle {
	-epub-hyphens:none;
	color:#000000;
	font-family:"HelveticaNeueLT Std", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.188;
	margin-bottom:0;
	margin-left:6px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TitreN1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"HelveticaNeueLT Std", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TitrePart-Livre-Titre {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times New Roman MT Std", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.188;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
span._5-light {
	font-style:normal;
	font-weight:normal;
}
span._5-Bold {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"HelveticaNeueLT Std", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
}
span._5-bold---super {
	font-family:"HelveticaNeueLT Std", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:bold;
	vertical-align:super;
}
span.Annexe-titre-gris {
	color:#9c9e9f;
	font-style:normal;
	font-weight:normal;
}
span.Black-Tdm {
	font-family:"DINPro-Black", sans-serif;
	font-style:normal;
	font-weight:900;
}
span.Black-TitreN1 {
	color:#707173;
	font-family:"DINPro-Black", sans-serif;
	font-style:normal;
	font-weight:900;
}
span.Bold {
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.Bold-SOM {
	color:#707173;
	font-family:"DINPro-Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:none;
}
span.Bold-TitreN2-N3 {
	color:#707173;
	font-family:"DINPro-Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bold-italic {
	font-style:italic;
	font-weight:bold;
}
span.Bold-italic-TNR {
	font-style:italic;
	font-weight:bold;
}
span.Chiffres-gris {
	color:#707173;
}
span.European {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"European Pi Std 1", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.Fleche {
	color:#000000;
	font-family:Pointers, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.Fleche-blanche {
	color:#ffffff;
	font-family:Pointers, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.Fleche-wingdings {
	font-family:"Wingdings 3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.Fleche-wingdings-blanche {
	font-family:"Wingdings 3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.Medium {
	color:#000000;
	font-style:normal;
	font-weight:normal;
}
span.Medium---super {
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.Medium-SOM {
	color:#707173;
	font-family:"DINPro-Medium", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:none;
}
span.Medium-italic {
	font-style:italic;
	font-weight:normal;
}
span.Regular {
	font-style:normal;
	font-weight:normal;
}
span.Regular-italic {
	font-style:italic;
	font-weight:normal;
}
span.SOM-Folios {
	font-family:"DINPro-Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.SOM-Pointilles {
	color:#000000;
	font-family:"DINPro-Light", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	text-transform:none;
}
span.Super {
	vertical-align:super;
}
span.Underline {
	text-decoration:underline;
}
td.CellOverride-1 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:1px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-3 {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:0px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-4 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-5 {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:0px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-6 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-7 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-8 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-9 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-10 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-11 {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-12 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-13 {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-14 {
	background-color:#e3e4e4;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-15 {
	background-color:#e3e4e4;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-16 {
	background-color:#e3e4e4;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-17 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-18 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
p.ParaOverride-1 {
	margin-top:14px;
}
p.ParaOverride-2 {
	margin-left:9px;
}
p.ParaOverride-3 {
	text-align:justify;
	text-align-last:justify;
}
p.ParaOverride-4 {
	margin-top:0px;
}
p.ParaOverride-5 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-6 {
	page-break-after:always;
	text-align:justify;
	text-align-last:justify;
}
p.ParaOverride-7 {
	text-align:left;
}
p.ParaOverride-8 {
	page-break-after:always;
}
p.ParaOverride-9 {
	margin-left:4px;
	margin-right:4px;
}
p.ParaOverride-10 {
	margin-left:7px;
}
p.ParaOverride-11 {
	margin-top:3px;
}
p.ParaOverride-12 {
	margin-top:6px;
}
p.ParaOverride-13 {
	margin-top:40px;
}
p.ParaOverride-14 {
	margin-top:45px;
}
p.ParaOverride-15 {
	margin-top:34px;
}
p.ParaOverride-16 {
	margin-left:9px;
	text-indent:-9px;
}
p.ParaOverride-17 {
	margin-top:31px;
}
p.ParaOverride-18 {
	text-align:center;
}
p.ParaOverride-19 {
	-epub-hyphens:none;
	margin-top:3px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-20 {
	text-align:right;
	text-align-last: right;
}
p.ParaOverride-21 {
	margin-bottom:3px;
	margin-top:0px;
}
p.ParaOverride-22 {
	margin-top:4px;
}
p.ParaOverride-23 {
	margin-bottom:4px;
}
p.ParaOverride-24 {
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-25 {
	text-indent:0px;
}
p.ParaOverride-26 {
	margin-bottom:4px;
	margin-top:4px;
}
p.ParaOverride-27 {
	margin-bottom:0px;
}
p.ParaOverride-28 {
	margin-bottom:4px;
	text-indent:0px;
}
p.ParaOverride-29 {
	margin-bottom:9px;
	margin-left:4px;
	margin-top:28px;
}
p.ParaOverride-30 {
	margin-bottom:6px;
	text-align:right;
}
p.ParaOverride-31 {
	margin-bottom:9px;
	margin-right:4px;
	margin-top:28px;
	text-align:right;
}
span.CharOverride-1 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-2 {
	font-family:Pointers, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"Zapf Dingbats", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-size:70%;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-size:10px;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-7 {
	color:#000000;
	font-size:10px;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-8 {
	color:#707173;
	font-family:"Wingdings 3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#000000;
}
span.CharOverride-10 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
span.CharOverride-11 {
	font-size:70%;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-13 {
	color:#000000;
	font-size:10px;
}
span.CharOverride-14 {
	color:#ffffff;
}
span.CharOverride-15 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"DINPro-RegularItalic", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-16 {
	color:#000000;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-17 {
	color:#ffffff;
	font-family:"DINPro-Black", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-18 {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-20 {
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-21 {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-22 {
	color:#707173;
	font-family:"DINPro-Regular", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-23 {
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-24 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-25 {
	color:#ffffff;
	font-family:"DINPro-Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-26 {
	color:#ffffff;
	font-family:"DINPro-Medium", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-27 {
	color:#000000;
	font-family:"Wingdings 3", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-28 {
	font-size:70%;
	vertical-align:super;
}
span.CharOverride-29 {
	font-size:6px;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-size:70%;
}
td._idGenCellOverride-1 {
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
}
col._idGenTableRowColumn-1 {
	width:79px;
}
col._idGenTableRowColumn-2 {
	width:42px;
}
col._idGenTableRowColumn-3 {
	width:67px;
}
col._idGenTableRowColumn-4 {
	width:38px;
}
tr._idGenTableRowColumn-5 {
	min-height:27px;
}
tr._idGenTableRowColumn-6 {
	min-height:55px;
}
tr._idGenTableRowColumn-7 {
	min-height:37px;
}
col._idGenTableRowColumn-8 {
	width:76px;
}
tr._idGenTableRowColumn-9 {
	min-height:56px;
}
#_idContainer005, #_idContainer012 {
	-ms-transform:translate(-2.970px,29.100px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-2.970px,29.100px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-2.970px,29.100px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-2.970px,29.100px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:39.35px;
	z-index:0;
}
#_idContainer006, #_idContainer013 {
	-ms-transform:translate(6.384px,6.423px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.384px,6.423px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.35px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(6.384px,6.423px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.384px,6.423px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.35px;
	z-index:1;
}
#_idContainer007, #_idContainer014 {
	display:inline-block;
	height:58px;
	position:relative;
	width:58px;
}
#_idContainer008 {
	display:inline-block;
	height:342px;
	width:482px;
}
#_idContainer015 {
	display:inline-block;
	width:227px;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.92px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.92px;
	z-index:1;
}
#_idContainer018 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.92px;
	z-index:0;
}
#_idContainer019, #_idContainer022, #_idContainer025, #_idContainer028 {
	display:inline-block;
	height:10px;
	position:relative;
	width:10px;
}
#_idContainer020, #_idContainer023, #_idContainer026 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.92px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.92px;
	z-index:1;
}
#_idContainer021, #_idContainer024, #_idContainer027 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.92px;
	z-index:0;
}
#_idContainer035, #_idContainer059 {
	display:inline-block;
	height:26px;
	width:482px;
}
#_idContainer036 {
	display:inline-block;
	height:606px;
	position:relative;
	width:481px;
}
#_idContainer038, #_idContainer065 {
	display:inline-block;
	height:638px;
	width:454px;
}
#_idContainer041, #_idContainer051 {
	-ms-transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:51.02px;
	z-index:0;
}
#_idContainer042, #_idContainer052 {
	-ms-transform:translate(32.598px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(32.598px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.60px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(32.598px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(32.598px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:79.37px;
	z-index:1;
}
#_idContainer043, #_idContainer053, #_idContainer070 {
	display:inline-block;
	height:79px;
	position:relative;
	width:51px;
}
#_idContainer045 {
	display:inline-block;
	height:328px;
	position:relative;
	width:481px;
}
#_idContainer046 {
	display:inline-block;
	height:162px;
	position:relative;
	width:481px;
}
#_idContainer048, #_idContainer075 {
	display:inline-block;
	height:666px;
	width:454px;
}
#_idContainer055, #_idContainer060, #_idContainer064 {
	display:inline-block;
	height:657px;
	position:relative;
	width:481px;
}
#_idContainer057 {
	display:inline-block;
	height:636px;
	width:436px;
}
#_idContainer062 {
	display:inline-block;
	height:647px;
	width:447px;
}
#_idContainer068 {
	display:inline-block;
	height:685px;
	position:relative;
	width:481px;
}
#_idContainer074 {
	display:inline-block;
	height:522px;
	position:relative;
	width:481px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1, figure._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#000000;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-color:#ffffff;
	border-style:solid;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-width:3px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#e3e4e4;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#000000;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-width:0px;
}
div._idGenObjectStyleOverride-6 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#000000;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-width:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:left;
}
