body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
a._idGenColorInherit {
	color:inherit;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Acheve1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.158;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Acheve2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.235;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.BiblioTxt-C10 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-BoldItalic", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.BiblioTxt-C9-5 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:99;
	page-break-after:auto;
	page-break-before:avoid;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.FinTitre {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:23px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Ndbp {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TxtCourant {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TxtCourant-C10 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TxtCourant-avec-filet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:99;
	page-break-after:auto;
	page-break-before:avoid;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Medium {
	font-style:normal;
	font-weight:normal;
}
span.Super {
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-1 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-2 {
	font-size:10px;
}
span.CharOverride-3 {
	font-size:10px;
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-4 {
	font-size:70%;
	vertical-align:super;
}
span.CharOverride-5 {
	color:#000000;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-size:7px;
}
#_idContainer001, #_idContainer002 {
	display:inline-block;
	height:842px;
	width:595px;
}
#_idContainer005 {
	display:inline-block;
	height:54px;
	width:88px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
