body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
a._idGenColorInherit {
	color:inherit;
}
div.Object-Style-1 {
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
table.Basic-Table {
	border-collapse:collapse;
	margin-bottom:4px;
	margin-top:4px;
}
td.Basic-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Ancrage {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.ChapNum {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"DINPro-Medium", sans-serif;
	font-size:22px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.136;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.ChapTitre {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.ExempleTitre {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"DINPro-Bold", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.571;
	margin-bottom:0;
	margin-left:4px;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.KilometreSchema {
	-epub-hyphens:none;
	color:#000000;
	font-family:"HelveticaNeueLT Std", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Ndbp {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Partie {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Partie-Tdm {
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.154;
	margin-bottom:11px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.PartieNum {
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.PartieTitre {
	color:#ffffff;
	font-family:"DINPro-Medium", sans-serif;
	font-size:28px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.071;
	margin-bottom:0;
	margin-left:0;
	margin-right:11px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.RemarqueTitre {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"DINPro-Bold", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.571;
	margin-bottom:0;
	margin-left:4px;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.SOM-TitreN1--1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Black", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.278;
	margin-bottom:0;
	margin-left:48px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-48px;
	text-transform:uppercase;
	widows:2;
}
p.SOM-TitreN2--1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Medium", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.278;
	margin-bottom:0;
	margin-left:48px;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-48px;
	text-transform:uppercase;
	widows:2;
}
p.SOM-TitreN3--1-1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.278;
	margin-bottom:0;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-48px;
	text-transform:none;
	widows:2;
}
p.SOM-TitreN4--1-1-1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.278;
	margin-bottom:0;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-48px;
	text-transform:none;
	widows:2;
}
p.Source-1-colonne {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TabTet1 {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"DINPro-Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.TabTxt {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.118;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TabTxt-centre {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.118;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TitreN1--1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Black", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.071;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:23px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.TitreN2--1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.TitreN3--1-1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.TitreN4--1-1-1-1-1- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TxtCourant {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TxtCourant-FAD {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TxtCourant-centre {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.TxtCourant-retrait {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
span.Black-Tdm {
	font-family:"DINPro-Black", sans-serif;
	font-style:normal;
	font-weight:900;
}
span.Black-TitreN1 {
	color:#707173;
	font-family:"DINPro-Black", sans-serif;
	font-style:normal;
	font-weight:900;
}
span.Bold {
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:none;
}
span.Bold-SOM {
	color:#707173;
	font-family:"DINPro-Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:none;
}
span.Bold-TitreN2-N3 {
	color:#707173;
	font-family:"DINPro-Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bold-italic {
	font-style:italic;
	font-weight:bold;
}
span.Chiffres-gris {
	color:#707173;
}
span.Fleche {
	color:#000000;
	font-family:Pointers, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.Fleche-blanche {
	color:#ffffff;
	font-family:Pointers, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.Fleche-wingdings {
	font-family:"Wingdings 3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.Medium {
	color:#000000;
	font-style:normal;
	font-weight:normal;
}
span.Medium---super {
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.Medium-SOM {
	color:#707173;
	font-family:"DINPro-Medium", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:none;
}
span.Medium-italic {
	font-style:italic;
	font-weight:normal;
}
span.Medium-italic---super {
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
span.Regular-italic {
	font-style:italic;
	font-weight:normal;
}
span.Reular-italic---Super {
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
span.SOM-Folios {
	font-family:"DINPro-Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.SOM-Pointilles {
	color:#000000;
	font-family:"DINPro-Light", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	text-transform:none;
}
span.Super {
	vertical-align:super;
}
td.CellOverride-1 {
	background-color:#000000;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-2 {
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-3 {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-4 {
	background-color:#e3e4e4;
	border-left-width:0px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:9px;
	padding-right:9px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-5 {
	background-color:#e3e4e4;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:9px;
	padding-right:9px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-6 {
	background-color:#e3e4e4;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:9px;
	padding-right:9px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-7 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:9px;
	padding-right:9px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-8 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:9px;
	padding-right:9px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-9 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-top-width:0px;
	padding-bottom:7px;
	padding-left:6px;
	padding-right:6px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-10 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:0px;
	padding-bottom:7px;
	padding-left:6px;
	padding-right:6px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-11 {
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:7px;
	padding-left:3px;
	padding-right:3px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-12 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:6px;
	padding-right:6px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-13 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:6px;
	padding-right:6px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-14 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:3px;
	padding-right:3px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-15 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:6px;
	padding-right:6px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-16 {
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:6px;
	padding-right:6px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-17 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:6px;
	padding-right:6px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-18 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:6px;
	padding-right:6px;
	padding-top:7px;
	vertical-align:middle;
}
td.CellOverride-19 {
	background-color:#000000;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
}
td.CellOverride-20 {
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-21 {
	background-color:#e3e4e4;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-22 {
	background-color:#e3e4e4;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-23 {
	background-color:#e3e4e4;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-24 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:0px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-25 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-26 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-27 {
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:0px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-28 {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:0px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-29 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-30 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-31 {
	background-color:#000000;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-32 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:9px;
	padding-left:0px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-33 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-34 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-35 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:0px;
	padding-right:4px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-36 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
}
td.CellOverride-37 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
}
td.CellOverride-38 {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:0px;
	padding-right:4px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-39 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
}
td.CellOverride-40 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
}
td.CellOverride-41 {
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-42 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:4px;
	padding-right:4px;
	padding-top:6px;
}
td.CellOverride-43 {
	background-color:#e3e4e4;
	border-bottom-width:0px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:4px;
	padding-right:4px;
	padding-top:6px;
}
td.CellOverride-44 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-top-width:0px;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:4px;
	padding-top:9px;
	vertical-align:middle;
}
td.CellOverride-45 {
	border-left-width:1px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:4px;
	padding-top:9px;
	vertical-align:middle;
}
td.CellOverride-46 {
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:4px;
	padding-top:9px;
	vertical-align:middle;
}
td.CellOverride-47 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:4px;
	padding-top:9px;
	vertical-align:middle;
}
td.CellOverride-48 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:4px;
	padding-top:9px;
	vertical-align:middle;
}
td.CellOverride-49 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:4px;
	padding-top:9px;
	vertical-align:middle;
}
td.CellOverride-50 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-51 {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-52 {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-53 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	border-top-style:dotted;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
p.ParaOverride-1 {
	text-align:justify;
	text-align-last:justify;
}
p.ParaOverride-2 {
	page-break-after:always;
}
p.ParaOverride-3 {
	text-align:left;
}
p.ParaOverride-4 {
	margin-top:6px;
}
p.ParaOverride-5 {
	margin-top:17px;
}
p.ParaOverride-6 {
	margin-top:1px;
}
p.ParaOverride-7 {
	page-break-after:always;
	text-align:justify;
	text-align-last:justify;
}
p.ParaOverride-8 {
	margin-top:34px;
}
p.ParaOverride-9 {
	margin-bottom:0px;
}
p.ParaOverride-10 {
	margin-top:37px;
}
p.ParaOverride-11 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-12 {
	margin-top:3px;
}
p.ParaOverride-13 {
	margin-bottom:6px;
}
p.ParaOverride-14 {
	margin-bottom:9px;
	margin-top:11px;
}
p.ParaOverride-15 {
	margin-top:14px;
}
p.ParaOverride-16 {
	margin-top:0px;
}
span.CharOverride-1 {
	font-size:70%;
}
span.CharOverride-2 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"DINPro-Regular", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:Pointers, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-size:10px;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-6 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"DINPro-RegularItalic", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-7 {
	font-size:10px;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-8 {
	font-size:11px;
}
span.CharOverride-9 {
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-10 {
	-webkit-text-combine:none;
	color:#707173;
	font-family:"DINPro-Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
span.CharOverride-11 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
span.CharOverride-12 {
	-webkit-text-combine:none;
	color:#707173;
	font-size:9px;
	text-decoration:none;
}
span.CharOverride-13 {
	-webkit-text-combine:none;
	color:#000000;
	font-size:9px;
	text-decoration:none;
}
span.CharOverride-14 {
	-webkit-text-combine:none;
	color:#000000;
	font-size:9px;
	font-variant:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-15 {
	color:#000000;
	font-size:10px;
}
span.CharOverride-16 {
	color:#707173;
	font-family:"Wingdings 3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#000000;
}
span.CharOverride-18 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"DINPro-Black", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	text-decoration:none;
	text-transform:uppercase;
}
span.CharOverride-19 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"DINPro-Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
span.CharOverride-20 {
	font-size:70%;
	vertical-align:super;
}
span.CharOverride-21 {
	font-size:9px;
}
span.CharOverride-22 {
	font-size:9px;
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-23 {
	font-size:6px;
}
span.CharOverride-24 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-25 {
	-webkit-text-combine:none;
	color:#707173;
	font-family:"DINPro-Black", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	text-decoration:none;
	text-transform:uppercase;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-size:70%;
}
td._idGenCellOverride-1 {
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
}
td._idGenCellOverride-2 {
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
}
td._idGenCellOverride-3 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
}
td._idGenCellOverride-4 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
}
td._idGenCellOverride-5 {
	border-bottom-color:#000000;
	border-bottom-style:dotted;
	border-bottom-width:1px;
}
td._idGenCellOverride-6 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
col._idGenTableRowColumn-1 {
	width:51px;
}
col._idGenTableRowColumn-2 {
	width:102px;
}
col._idGenTableRowColumn-3 {
	width:54px;
}
col._idGenTableRowColumn-4 {
	width:122px;
}
tr._idGenTableRowColumn-5 {
	min-height:19px;
}
tr._idGenTableRowColumn-6 {
	height:6px;
}
tr._idGenTableRowColumn-7 {
	min-height:27px;
}
tr._idGenTableRowColumn-8 {
	min-height:18px;
}
tr._idGenTableRowColumn-9 {
	min-height:35px;
}
tr._idGenTableRowColumn-10 {
	min-height:42px;
}
tr._idGenTableRowColumn-11 {
	min-height:78px;
}
tr._idGenTableRowColumn-12 {
	min-height:49px;
}
tr._idGenTableRowColumn-13 {
	min-height:21px;
}
col._idGenTableRowColumn-14 {
	width:160px;
}
tr._idGenTableRowColumn-15 {
	min-height:13px;
}
tr._idGenTableRowColumn-16 {
	min-height:23px;
}
tr._idGenTableRowColumn-17 {
	min-height:33px;
}
tr._idGenTableRowColumn-18 {
	min-height:26px;
}
tr._idGenTableRowColumn-19 {
	height:41px;
}
tr._idGenTableRowColumn-20 {
	min-height:24px;
}
col._idGenTableRowColumn-21 {
	width:133px;
}
col._idGenTableRowColumn-22 {
	width:88px;
}
tr._idGenTableRowColumn-23 {
	min-height:15px;
}
tr._idGenTableRowColumn-24 {
	min-height:71px;
}
tr._idGenTableRowColumn-25 {
	min-height:52px;
}
col._idGenTableRowColumn-26 {
	width:146px;
}
col._idGenTableRowColumn-27 {
	width:190px;
}
tr._idGenTableRowColumn-28 {
	height:9px;
}
tr._idGenTableRowColumn-29 {
	height:65px;
}
col._idGenTableRowColumn-30 {
	width:113px;
}
tr._idGenTableRowColumn-31 {
	min-height:14px;
}
#_idContainer005, #_idContainer016, #_idContainer039, #_idContainer049 {
	-ms-transform:translate(-2.970px,29.100px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-2.970px,29.100px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-2.970px,29.100px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-2.970px,29.100px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:39.35px;
	z-index:0;
}
#_idContainer006, #_idContainer017, #_idContainer040, #_idContainer050 {
	-ms-transform:translate(6.384px,6.423px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.384px,6.423px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.35px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(6.384px,6.423px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.384px,6.423px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.35px;
	z-index:1;
}
#_idContainer007, #_idContainer018, #_idContainer041, #_idContainer051 {
	display:inline-block;
	height:58px;
	position:relative;
	width:58px;
}
#_idContainer034 {
	display:inline-block;
	height:662px;
	width:481px;
}
#_idContainer054, #_idContainer055, #_idContainer056 {
	display:inline-block;
	height:51px;
	width:51px;
}
#_idContainer057 {
	display:inline-block;
	width:62px;
}
#_idContainer058, #_idContainer059, #_idContainer060, #_idContainer061, #_idContainer062, #_idContainer063, #_idContainer064, #_idContainer065, #_idContainer066, #_idContainer067, #_idContainer068, #_idContainer069, #_idContainer070, #_idContainer071, #_idContainer072, #_idContainer073, #_idContainer074, #_idContainer075, #_idContainer076, #_idContainer077 {
	display:inline-block;
	height:45px;
	width:43px;
}
#_idContainer078 {
	display:inline-block;
	height:45px;
	width:99px;
}
#_idContainer079 {
	display:inline-block;
	height:45px;
	width:156px;
}
#_idContainer083 {
	display:inline-block;
	height:554px;
	width:482px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#000000;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-color:#ffffff;
	border-style:solid;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-width:3px;
}
div._idGenObjectStyleOverride-4 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-5 {
	border-color:#000000;
	border-style:double;
	border-width:7px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:left;
}
